// Fonts
$merriweather: 'Merriweather',
serif;
$raleway: 'Raleway',
sans-serif;
$lato: 'Lato',
sans-serif;
$roboto: 'Roboto',
sans-serif;
$robotocon: 'Roboto Condensed',
sans-serif;
$ubuntu: 'Ubuntu',
sans-serif;

// Colors
$main:#D89E04;
$first1:#FFC21E;
$second1:#00228B;
$first2:#8B6601;
$second2:#0437D8;
$mil: #0B6623;


@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}