@import 'config';

body {
  height: 2000px;
}
header {
  background: $secondary-color;
  padding: 20px 0px;
  .row {
    text-align: center;
    img {
      min-width: 300px;
    }
  }
}

nav {
  transition: all 1s ease-in-out;
  .navbar-brand {
    transition: all 1s ease-in-out;
    opacity: 0;
  }

  .brand-fadein {
    opacity: 1;
  }
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: $secondary-color;
        font-family: $main-font;
        text-transform: uppercase;
        letter-spacing: 3px;
        transition: all 0.5s ease-in;
        &:hover {
          color: $main-color;
        }
      }

      .current {
        color: $main-color;
      }

      .dropdown-menu {
        box-shadow: $shadow;
        .dropdown-item {
          font-family: $everything;
          color: $secondary-color;
          letter-spacing: 3px;
          &:hover {
            color: $main-color;
          }
        }
      }
    }
  }
}

.top-contain {
  margin-top: 50px;
  margin-bottom: 50px;
}
.big-img-post {
  height: 400px;
  width: 100%;
  background: url('/dist/img/1post.jpeg');
  background-size: cover;
  background-position: center;
}

.big-post {
  padding-top: 25px;
  .container {
    h5 {
      font-family: $everything;
    }
    .date {
      font-family: $main-font;
    }
  }
  .middle {
    height: 300px;
    display: table;
    .post-title {
      display: table-cell;
      vertical-align: middle;
      font-family: $blog-title;
      font-size: 1.5rem;
      text-align: center;
      font-weight: bold;
      text-transform: capitalize;
    }
  }
}

.forms {
  padding: 25px 20px;
  background: #fac003;
  h5 {
    font-family: $everything;
    text-align: center;
  }

  form {
    padding-top: 10%;
  }
}
.middle-contain {
  margin-bottom: 50px;
}
.card {
  .card-body {
    h5 {
      font-family: $everything;
    }
    .date {
      font-family: $main-font;
    }
    .post-title {
      font-family: $blog-title;
      font-weight: bold;
      font-size: 1.5rem;
      text-align: center;
      text-transform: capitalize;
    }
  }
}

.grid-container {
  .grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px 0;
    .serv {
      height: 500px;
      width: 100%;
      border: 1px solid black;
      display: table;
      &:nth-child(1) {
        transition: all 1s ease-in;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
          url(../img/mill.jpeg);

        background-size: cover;
        background-position: top;

        &:hover {
          background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
            url(../img/mill.jpeg);
          background-size: cover;
          background-position: -200px;

          h3 {
            transition: all 1s ease-in-out;
            color: $main-color;
            font-weight: bold;
            text-shadow: $shadow;
            .btn {
              transform: translateY(0px);
              opacity: 1;
            }
          }
        }
      }
      &:nth-child(2) {
        transition: all 1s ease-in;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
          url(../img/retire.jpeg);

        background-size: cover;
        background-position: top;

        &:hover {
          background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
            url(../img/retire.jpeg);
          background-size: cover;
          background-position: -200px;

          h3 {
            transition: all 1s ease-in-out;
            color: $main-color;
            font-weight: bold;
            text-shadow: $shadow;
            .btn {
              transform: translateY(0px);
              opacity: 1;
            }
          }
        }
      }
      &:nth-child(3) {
        transition: all 1s ease-in;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
          url(../img/legacy.jpeg);

        background-size: cover;
        background-position: top;

        &:hover {
          background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
            url(../img/legacy.jpeg);
          background-size: cover;
          background-position: -200px;

          h3 {
            transition: all 1s ease-in-out;
            color: $main-color;
            font-weight: bold;
            text-shadow: $shadow;
            .btn {
              transform: translateY(0px);
              opacity: 1;
            }
          }
        }
      }
      &:nth-child(4) {
        transition: all 1s ease-in;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
          url(../img/boomer.jpeg);

        background-size: cover;
        background-position: top;

        &:hover {
          background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
            url(../img/boomer.jpeg);
          background-size: cover;
          background-position: -200px;

          h3 {
            transition: all 1s ease-in-out;
            color: $main-color;
            font-weight: bold;
            text-shadow: $shadow;
            .btn {
              transform: translateY(0px);
              opacity: 1;
            }
          }
        }
      }
      h3 {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        color: white;
        font-family: $blog-title;

        .btn {
          text-align: center;
          color: white;
          border: 1px solid white;
          margin-top: 10px;
          opacity: 0;
          transform: translateY(100px);
          transition: all 1s ease-in-out;
          &:hover {
            background: white;
            color: black;
          }
        }
      }
    }
  }
}

@import 'mobil';
